<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de IOT</title>
</head>
<body>
    <h1>Hola <%= nombre %> </h1>
    <p>Plataforma para la visualización de datos IOT</p>
</body>
</html>